# Ignore csv files in experimental data directory.
example_data/experimental/**/*.csv

# Ignore txt, out and csv files in simulated data directory.
example_data/simulated/**/*.txt
example_data/simulated/**/*.out
example_data/simulated/**/*.csv
